<p>men works!</p>
<div class="shoes-container">
  <img src="assets/images/shoes/product-1.jpg">
  <img src="assets/images/shoes/product-2.jpg">
  <img src="assets/images/shoes/product-3.jpg">
  <img src="assets/images/shoes/product-4.jpg">
  <img src="assets/images/shoes/product-5.jpg">
  <img src="assets/images/shoes/product-6.jpg">
  <img src="assets/images/shoes/product-7.jpg">
  <img src="assets/images/shoes/product-8.jpg">
  <img src="assets/images/shoes/product-9.jpg">
  <img src="assets/images/shoes/product-10.jpg">
</div>
