<html>
<head>
<style>
/*ul {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  overflow: hidden;*/
/*  background-color: #333;*/
/*}*/

/*li {*/
/*  float: left;*/
/*}*/

/*li a {*/
/*  display: block;*/
/*  color: white;*/
/*  text-align: center;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*}*/

/*li a:hover:not(.active) {*/
/*  background-color: green;*/
/*}*/

/*.active {*/
/*  background-color: #4CAF50;*/
/*}*/
</style>
</head>




<div class="firstnav">
<!--  <img src="assets/images/logo/unique-logo.png">-->
 <marquee> Welcome to Unique Shoes.. For assistance regarding your online purchase, call 1800-103-0501 or mail consumercare@uniquefootwear.com</marquee>
</div>

<div>
  <ul class ="navigation">
<!--    <li><img src="assets/images/logo/unique-logo.png"></li>-->
    <li><a class="menu" href="https://www.amazon.com/">Home</a></li>
    <li><a href="https://www.amazon.com/">Men Shoes</a></li>
    <li><a href="https://www.nyt.com/">Kids Shoes</a></li>
    <li><a href="https://www.huffingtonpost.com/">Formal Shoes</a></li>
    <li><a href="https://www.cnn.com/">Sports Shoes</a></li>

    <div class="topnav" align="right">
        <input type="text" placeholder="Search.." name="search">
        <img src="/assets/images/shoes/search.png" height="30px" width="60px">
    </div>
  </ul>

</div>

</html>
