ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  background-color: blueviolet;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

.navigation{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
navigation a:hover:not(.active) {
  background-color: green;
}
.menu {
  background-color: #4CAF50;
}


.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav {
  padding-right: 10px;
}
.firstnav{
  background-color: black;
  width:1905px;
  height:30px;
  font-size: 20px;
  font-style: italic;
  color: darkcyan;
  animation-name: unique;
  animation-duration: 30s;
}

@keyframes unique {
  10%  {color: red; }
  20%  {color: yellow; }
  30%  {color: #4CAF50; }
  40%  {color: deepskyblue; }
  50%  {color: chartreuse; }
  60%  {color: darkblue; }
  70%  {color: deeppink; }
  80%  {color: lightseagreen; }
  90%  {color: lavender; }
  10%  {color: lemonchiffon; }
  20%  {color: dodgerblue; }
  30% {color: darkorchid; }
  40% {color: yellow; }
}

